<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Accounts</title>

    <link rel="stylesheet" href="/templates/joli/css/theme-blue.css">

  </head>
  <body>
    <div class="page-container" style="height: 100vh;">
        <div class="page-sidebar page-sidebar-fixed scroll">
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="/">Top Tier</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-title">
                    Navigation
                </li>
                <li>
                    <a href="/dashboard">
                        <span class="fa fa-desktop"></span>
                        <span class="xn-text">Dashboard</span>
                    </a>
                </li>
                <li class="xn-openable active">
                    <a href="#">
                        <span class="fa fa-cogs"></span>
                        <span class="xn-text">Accounts</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/accounts-add">
                                <span class="fa fa-bell-o"></span>
                                <span class="xn-text">Add Account</span>
                            </a>
                        </li>
                        <li>
                            <a href="/accounts">
                                <span class="fa fa-users"></span>
                                <span class="xn-text">Accounts</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="xn-title">
                    Profile
                </li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span class="xn-text">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="page-title">
                <h2>Account Not Found</h2>
            </div>
        </div>
    </div>
</body>
</html>